@font-face {
  font-family: ebitparty; /* don't use '8'bitparty as it won't work, e=8*/
  src: url("../assets/8_bit_party.ttf");
}

@font-face {
  font-family: neb;
  src: url("../assets/N_E_B.TTF");
}

body {
  background-image: url('../assets/gameBg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #000000;
}

.leftContainer{
  width: 27%;
  height: auto;
  float: left;
  margin-left: 1%;
}

.rightContainer{
  width: 27%;
  height: auto;
  float: right;
  margin-right: 1%;
}

.breaker{
  height: 1%;
}

.invContainer{
  position: relative;
  border: 15px solid transparent;
  background-color: rgba(0,0,0,0.5);
  height: 45%;
  -webkit-border-image: url('../assets/dottedlinedsqr.png') 50 50 round;
  -o-border-image: url('../assets/dottedlinedsqr.png') 40 40 round;
  border-image: url('../assets/dottedlinedsqr.png') 40 40 round;
  font-size: 18px;
  line-height: 0;
  text-align: left;
  color: #ffffff;
  font-family: ebitparty;
}

.invSubContainer {
  position: relative;
  overflow-y: scroll;
  height: 90%;
}

/*.invHolder1{

}*/

.notesContainer{
  position: relative;
  border: 15px solid transparent;
  background-color: rgba(0,0,0,0.5);
  height: 45%;
  -webkit-border-image: url('../assets/dottedlinedsqr.png') 50 50 round;
  -o-border-image: url('../assets/dottedlinedsqr.png') 40 40 round;
  border-image: url('../assets/dottedlinedsqr.png') 40 40 round;
  font-size: 18px;
  line-height: 0;
  text-align: left;
  color: #ffffff;
  font-family: ebitparty;
}

.notesText {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  padding-left: 2%;
  overflow-y: scroll;
  width: 98%;
  height: 73%;
  font-size: 12px;
  line-height: 28px;
  text-align: left;
  color: #ffffff;
  font-family: ebitparty;
  font-style: italic;
}

.mapContainer{
  position: relative;
  border: 15px solid transparent;
  background-color: rgba(0,0,0,0.5);
  height: 45%;
  -webkit-border-image: url('../assets/dottedlinedsqr.png') 50 50 round;
  -o-border-image: url('../assets/dottedlinedsqr.png') 40 40 round;
  border-image: url('../assets/dottedlinedsqr.png') 40 40 round;
  font-size: 18px;
  line-height: 0;
  text-align: left;
  color: #ffffff;
  font-family: ebitparty;
}

.settingsContainer{
  position: relative;
  border: 15px solid transparent;
  background-color: rgba(0,0,0,0.5);
  height: 45%;
  -webkit-border-image: url('../assets/dottedlinedsqr.png') 50 50 round;
  -o-border-image: url('../assets/dottedlinedsqr.png') 40 40 round;
  border-image: url('../assets/dottedlinedsqr.png') 40 40 round;
  font-size: 18px;
  line-height: 0;
  text-align: left;
  color: #ffffff;
  font-family: ebitparty;
}

.paraContainer{
  position: relative;
  border: 15px solid transparent;
  background-color: rgba(0,0,0,0.5);
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 100%;
  float: center;
  -webkit-border-image: url('../assets/dottedlinedsqr.png') 50 50 round;
  -o-border-image: url('../assets/dottedlinedsqr.png') 40 40 round;
  border-image: url('../assets/dottedlinedsqr.png') 40 40 round;
}

.paraText {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  padding-left: 2%;
  overflow-y: scroll;
  width: 98%;
  height: 90%;
  font-size: 14px;
  line-height: 28px;
  text-align: left;
  color: #ffffff;
  font-family: ebitparty;
  word-wrap:break-word;
}

.inputTextMain[type="text"]{
  position: absolute;
  bottom: 1%;
  align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1%;
  height: 6%;
  width: 100%;
  font-family: ebitparty;
  font-size: 12px;
  font-style: italic;
  color: #ffffff;
  background: rgba(224, 224, 224, 0.2);
  border: solid 2px rgba(0,0,0,0.2);
  border-radius: 6px;
  box-shadow: inset 0 0 3px 1px rgba(224, 224, 224, 0.4);
  transition: box-shadow 0.3s, border 0.3s;
}

.inputTextNotes[type="text"]{
  position: absolute;
  bottom: 2%;
  align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1%;
  height: 12%;
  width: 100%;
  font-family: ebitparty;
  font-size: 12px;
  font-style: italic;
  color: #ffffff;
  background: rgba(224, 224, 224, 0.2);
  border: solid 2px rgba(0,0,0,0.2);
  border-radius: 6px;
  box-shadow: inset 0 0 3px 1px rgba(224, 224, 224, 0.4);
  transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:focus {
  border: solid 2px rgba(224, 224, 224, 0.3);
  outline: none;
}

/*Scroll bar stuff!*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0,0,0);
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: rgba(224, 224, 224, 0.2);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(224, 224, 224, 0.3);
  border-radius: 0px;
}
