@font-face {
  font-family: ebitparty; /* don't use '8'bitparty as it won't work, e=8*/
  src: url("../assets/8_bit_party.ttf");
}

body {
  background-image: url('../assets/gameBg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #000000;
}

.leftContainer{
  width: 25%;
  height: auto;
  float: left;
  margin-left: 1%;
}

.rightContainer{
  width: 25%;
  height: auto;
  float: right;
  margin-right: 1%;
}

.breaker{
  height: 1%;
}

.invContainer{
  position: relative;
  border: 15px solid transparent;
  background-color: rgba(0,0,0,0.5);
  height: 45%;
  overflow-y: scroll;
  -webkit-border-image: url('../assets/dottedlinedsqr.png') 30 30 round;
  -o-border-image: url('../assets/dottedlinedsqr.png') 30 30 round;
  border-image: url('../assets/dottedlinedsqr.png') 30 30 round;
}

.notesContainer{
  position: relative;
  border: 15px solid transparent;
  background-color: rgba(0,0,0,0.5);
  height: 45%;
  overflow-y: scroll;
  -webkit-border-image: url('../assets/dottedlinedsqr.png') 30 30 round;
  -o-border-image: url('../assets/dottedlinedsqr.png') 30 30 round;
  border-image: url('../assets/dottedlinedsqr.png') 30 30 round;
}

.mapContainer{
  position: relative;
  border: 15px solid transparent;
  background-color: rgba(0,0,0,0.5);
  height: 45%;
  -webkit-border-image: url('../assets/dottedlinedsqr.png') 30 30 round;
  -o-border-image: url('../assets/dottedlinedsqr.png') 30 30 round;
  border-image: url('../assets/dottedlinedsqr.png') 30 30 round;
}

.settingsContainer{
  position: relative;
  border: 15px solid transparent;
  background-color: rgba(0,0,0,0.5);
  height: 45%;
  -webkit-border-image: url('../assets/dottedlinedsqr.png') 30 30 round;
  -o-border-image: url('../assets/dottedlinedsqr.png') 30 30 round;
  border-image: url('../assets/dottedlinedsqr.png') 30 30 round;
}

.paraContainer{
  position: relative;
  border: 15px solid transparent;
  background-color: rgba(0,0,0,0.5);
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 100%;
  float: center;
  overflow-y: scroll;
  -webkit-border-image: url('../assets/dottedlinedsqr.png') 30 30 round;
  -o-border-image: url('../assets/dottedlinedsqr.png') 30 30 round;
  border-image: url('../assets/dottedlinedsqr.png') 30 30 round;
}

.paraText {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
  line-height: 32px;
  text-align: left;
  color: #ffffff;
  font-family: ebitparty;
}

/*Scroll bar stuff!*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0,0,0);
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: rgba(224, 224, 224, 0.2);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(224, 224, 224, 0.3);
  border-radius: 0px;
}
